body {
    background-color: green;
}

#input-textbox {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    box-shadow: 0px 0px 5px gray;
}

#submitButton{
    font-size:16px ;
    margin-top: 5px;
}